<div class="container">
  <div class="footer__inner">
    <div class="footer__social">
      <div class="logo">
        <img src="./assets/img/thisLogo.svg" alt="" class="logo__img" />
        <h1 class="logo__title">grocerymart</h1>
      </div>

      <div class="footer__social--media">
        <a href="" class="footer__social--link"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="" class="footer__social--link"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="" class="footer__social--link">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="" class="footer__social--link"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="" class="footer__social--link">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>

      <div class="footer__social--select">
        <div class="footer__social--select-dropdown">
          <i class="fa-solid fa-globe"></i>
          <p class="footer__social--language">English</p>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="footer__infor">
      <div class="footer__infor--cols">
        <div class="footer__infor--col">
          <div class="footer__infor--menu">
            <h3 class="footer__infor--heading">Product</h3>
            <ul class="footer__infor--list">
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Wikis</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Docs</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Project</a>
              </li>
            </ul>
          </div>
          <div class="footer__infor--menu">
            <h3 class="footer__infor--heading">Solution</h3>
            <ul class="footer__infor--list">
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Enterprise</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Small business</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Personal one</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Remote work</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Startups</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Education</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Nonprofits</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Engineering</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Product</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Designs</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Manager</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__infor--col">
          <div class="footer__infor--menu">
            <h3 class="footer__infor--heading">Download</h3>
            <ul class="footer__infor--list">
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">IOS & Android</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">MAC & Windows</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Web clipper</a>
              </li>
            </ul>
          </div>
          <div class="footer__infor--menu">
            <h3 class="footer__infor--heading">Solution</h3>
            <ul class="footer__infor--list">
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Connection</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Templates</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">API Docs</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Guide and Tutorials</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Find a consuitant</a>
              </li>
            </ul>
          </div>
          <div class="footer__infor--menu">
            <h3 class="footer__infor--heading">Learn</h3>
            <ul class="footer__infor--list">
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Customer story</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Help center</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Blogs</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Webinars</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Community</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__infor--col">
          <div class="footer__infor--menu">
            <h3 class="footer__infor--heading">Get started</h3>
            <ul class="footer__infor--list">
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Request a demo</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Switch from Evernote</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link"
                  >Switch from Confluence</a
                >
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Sign up</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Sign in</a>
              </li>
            </ul>
          </div>
          <div class="footer__infor--menu">
            <h3 class="footer__infor--heading">Resources</h3>
            <ul class="footer__infor--list">
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Pricing</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">About us</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Careers</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Media kits</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Contact supports</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Email us</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Cookies settings</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Term and privacy</a>
              </li>
              <li class="footer__infor--item">
                <a href="" class="footer__infor--link">Status</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__license">
        <h3 class="footer__license--heading">
          Do not sell my personal information
        </h3>
        <span class="footer__license--content">@ 2023 Notion Labs, Inc</span>
      </div>
    </div>
  </div>
</div>
