<div class="container">
  <div class="top-bar">
    <div class="more d-none d-lg-block">
      <img src="./assets/icons/more.svg" alt="" class="icon more__img" />
    </div>
    <div class="logo">
      <img src="./assets/img/thisLogo.svg" alt="" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </div>
    <nav class="navbar hide">
      <button class="navbar__close-btn">
        <img src="./assets/img/arrow-left.svg" alt="" />
      </button>

      <a href="" class="nav-btn d-none d-md-flex">
        <img src="./assets/icons/buy.svg" alt="" class="nav-btn__icon" />
        <span class="nav-btn__title">Card</span>
        <span class="nav-btn__qty">3</span>
      </a>

      <a href="" class="nav-btn d-none d-md-flex">
        <img src="./assets/icons/heart.svg" alt="" class="nav-btn__icon" />
        <span class="nav-btn__title">Favorite</span>
        <span class="nav-btn__qty">3</span>
      </a>
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Departments
            <img
              src="./assets/icons/arrow_down.svg"
              class="icon navbar__icon"
              alt=""
          /></a>
          <div hidden class="dropdown">
            <div class="dropdown__inner">
              <div class="top__menu">
                <div class="top__menu--main">
                  <div class="menu__column">
                    <div class="menu__column--icon d-lg-none">
                      <img
                        class="menu__column--icon1"
                        src="./assets/img/cate-1-1.svg"
                        alt=""
                      />
                      <img
                        class="menu__column--icon2"
                        src="./assets/img/cate-1-2.svg"
                        alt=""
                      />
                    </div>
                    <div class="menu__column--content">
                      <h2 class="menu__content--heading d-lg-none">
                        All Departments
                      </h2>
                      <ul class="menu__content--list">
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Savings & Featured Shops</a
                          >
                          <div class="sub-menu">
                            <div class="sub-menu__column">
                              <div class="menu__column">
                                <div class="menu__column--icon">
                                  <img
                                    class="menu__column--icon1"
                                    src="./assets/img/cate-2-1.svg"
                                    alt=""
                                  />
                                  <img
                                    class="menu__column--icon2"
                                    src="./assets/img/cate-2-2.svg"
                                    alt=""
                                  />
                                </div>
                                <div class="menu__column--content">
                                  <h2 class="menu__content--heading">
                                    TV & Video
                                  </h2>
                                  <ul class="menu__content--list">
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Shop all TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >TVs by Size</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Smart TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Roku TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Streaming</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="menu__column">
                                <div class="menu__column--icon">
                                  <img
                                    class="menu__column--icon1"
                                    src="./assets/img/cate-2-1.svg"
                                    alt=""
                                  />
                                  <img
                                    class="menu__column--icon2"
                                    src="./assets/img/cate-2-2.svg"
                                    alt=""
                                  />
                                </div>
                                <div class="menu__column--content">
                                  <h2 class="menu__content--heading">
                                    TV & Video
                                  </h2>
                                  <ul class="menu__content--list">
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Shop all TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >TVs by Size</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Smart TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Roku TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Streaming</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="sub-menu__column">
                              <div class="menu__column">
                                <div class="menu__column--icon">
                                  <img
                                    class="menu__column--icon1"
                                    src="./assets/img/cate-4-1.svg"
                                    alt=""
                                  />
                                  <img
                                    class="menu__column--icon2"
                                    src="./assets/img/cate-4-2.svg"
                                    alt=""
                                  />
                                </div>
                                <div class="menu__column--content">
                                  <h2 class="menu__content--heading">
                                    Computers
                                  </h2>
                                  <ul class="menu__content--list">
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Shop All Computers</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Laptops</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >PC Gaming</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Monitors</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Chromebook</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Printers & Ink</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Shop all TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Computer Accessories</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Desktops</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Tax Software</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Computer Software</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >PC Finder</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="sub-menu__column">
                              <div class="menu__column">
                                <div class="menu__column--icon">
                                  <img
                                    class="menu__column--icon1"
                                    src="./assets/img/cate-2-1.svg"
                                    alt=""
                                  />
                                  <img
                                    class="menu__column--icon2"
                                    src="./assets/img/cate-2-2.svg"
                                    alt=""
                                  />
                                </div>
                                <div class="menu__column--content">
                                  <h2 class="menu__content--heading">
                                    TV & Video
                                  </h2>
                                  <ul class="menu__content--list">
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Shop all TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >TVs by Size</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Smart TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Roku TVs</a
                                      >
                                    </li>
                                    <li class="menu__content--item">
                                      <a href="" class="menu__content--link"
                                        >Streaming</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link">Electronics</a>
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Clothing, Shoes & Accessories</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Home, Furniture & Appliances</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Toys & Video Games</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Home Improvement</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link">Baby</a>
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Household Essentials</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Personal Care</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Patio & Garden</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Sports & Outdoors</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link">Gift Cards</a>
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Auto, Tires and Industrial</a
                          >
                        </li>
                        <li class="menu__content--item">
                          <a href="" class="menu__content--link"
                            >Movies, Music & Books</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Grocery
            <img
              src="./assets/icons/arrow_down.svg"
              class="icon navbar__icon"
              alt=""
            />
          </a>
          <div hidden class="dropdown">
            <div class="dropdown__inner">
              <div class="top__menu">
                <div class="sub-menu sub-menu__not-main">
                  <div class="sub-menu__column">
                    <div class="menu__column">
                      <div class="menu__column--icon">
                        <img
                          class="menu__column--icon1"
                          src="./assets/img/cate-2-1.svg"
                          alt=""
                        />
                        <img
                          class="menu__column--icon2"
                          src="./assets/img/cate-2-2.svg"
                          alt=""
                        />
                      </div>
                      <div class="menu__column--content">
                        <h2 class="menu__content--heading">TV & Video</h2>
                        <ul class="menu__content--list">
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Shop all TVs</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >TVs by Size</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Smart TVs</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Roku TVs</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Streaming</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="menu__column">
                      <div class="menu__column--icon">
                        <img
                          class="menu__column--icon1"
                          src="./assets/img/cate-2-1.svg"
                          alt=""
                        />
                        <img
                          class="menu__column--icon2"
                          src="./assets/img/cate-2-2.svg"
                          alt=""
                        />
                      </div>
                      <div class="menu__column--content">
                        <h2 class="menu__content--heading">TV & Video</h2>
                        <ul class="menu__content--list">
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Shop all TVs</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >TVs by Size</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Smart TVs</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Roku TVs</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Streaming</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="sub-menu__column">
                    <div class="menu__column">
                      <div class="menu__column--icon">
                        <img
                          class="menu__column--icon1"
                          src="./assets/img/cate-4-1.svg"
                          alt=""
                        />
                        <img
                          class="menu__column--icon2"
                          src="./assets/img/cate-4-2.svg"
                          alt=""
                        />
                      </div>
                      <div class="menu__column--content">
                        <h2 class="menu__content--heading">Computers</h2>
                        <ul class="menu__content--list">
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Shop All Computers</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Laptops</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">PC Gaming</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Monitors</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Chromebook</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Printers & Ink</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Shop all TVs</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Computer Accessories</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Desktops</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Tax Software</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Computer Software</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">PC Finder</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="sub-menu__column">
                    <div class="menu__column">
                      <div class="menu__column--icon">
                        <img
                          class="menu__column--icon1"
                          src="./assets/img/cate-2-1.svg"
                          alt=""
                        />
                        <img
                          class="menu__column--icon2"
                          src="./assets/img/cate-2-2.svg"
                          alt=""
                        />
                      </div>
                      <div class="menu__column--content">
                        <h2 class="menu__content--heading">TV & Video</h2>
                        <ul class="menu__content--list">
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Shop all TVs</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >TVs by Size</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Smart TVs</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Roku TVs</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Streaming</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="sub-menu__column">
                    <div class="menu__column">
                      <div class="menu__column--icon">
                        <img
                          class="menu__column--icon1"
                          src="./assets/img/cate-4-1.svg"
                          alt=""
                        />
                        <img
                          class="menu__column--icon2"
                          src="./assets/img/cate-4-2.svg"
                          alt=""
                        />
                      </div>
                      <div class="menu__column--content">
                        <h2 class="menu__content--heading">Computers</h2>
                        <ul class="menu__content--list">
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Shop All Computers</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Laptops</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">PC Gaming</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Monitors</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Chromebook</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Printers & Ink</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Shop all TVs</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Computer Accessories</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">Desktops</a>
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Tax Software</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link"
                              >Computer Software</a
                            >
                          </li>
                          <li class="menu__content--item">
                            <a href="" class="menu__content--link">PC Finder</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Beauty
            <img
              src="./assets/icons/arrow_down.svg"
              class="icon navbar__icon"
              alt=""
          /></a>
        </li>
      </ul>
    </nav>

    <div class="navbar__overlay"></div>
    <div class="action">
      <div class="action__group d-lg-none">
        <button class="action__button">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="icon action__button--img"
          />
        </button>
      </div>

      <div class="action__group d-md-none">
        <button class="action__button">
          <img
            src="./assets/icons/heart.svg"
            alt=""
            class="icon action__button--img"
          />
          <span class="action__button--title">03</span>
        </button>
        <div class="action__button--separate"></div>
        <button class="action__button">
          <img
            src="./assets/icons/buy.svg"
            alt=""
            class="icon action__button--img"
          />
          <span class="action__button--title">$65.42</span>

          <div class="action__dropdown">
            <div class="action__dropdown--inner">
              <div class="action__dropdown--top">
                <h2 class="action__dropdown--title">You have 3 item</h2>
                <a href="" class="action__dropdown--link">See All</a>
              </div>

              <div class="row row-cols-3 gx-2">
                <div class="col">
                  <article class="cart__preview--item">
                    <div class="cart__preview--img-wrapper">
                      <img
                        src="./assets/img/ProductDetail/item1.png"
                        alt=""
                        class="cart__preview--img"
                      />
                    </div>
                    <h3 class="cart__preview--title">Lavazza Coffee Blends</h3>
                    <span class="cart__preview--price">$329.00</span>
                  </article>
                </div>
                <div class="col">
                  <article class="cart__preview--item">
                    <div class="cart__preview--img-wrapper">
                      <img
                        src="./assets/img/ProductDetail/item1.png"
                        alt=""
                        class="cart__preview--img"
                      />
                    </div>
                    <h3 class="cart__preview--title">Lavazza Coffee Blends</h3>
                    <span class="cart__preview--price">$329.00</span>
                  </article>
                </div>
                <div class="col">
                  <article class="cart__preview--item">
                    <div class="cart__preview--img-wrapper">
                      <img
                        src="./assets/img/ProductDetail/item1.png"
                        alt=""
                        class="cart__preview--img"
                      />
                    </div>
                    <h3 class="cart__preview--title">Lavazza Coffee Blends</h3>
                    <span class="cart__preview--price">$329.00</span>
                  </article>
                </div>
              </div>

              <div class="action__dropdown--bottom">
                <div class="action__dropdown--bottom-row">
                  <span class="action__dropdown--label">Subtotal:</span>
                  <span class="action__dropdown--value">$415.99</span>
                </div>
                <div class="action__dropdown--bottom-row">
                  <span class="action__dropdown--label">Texes: </span>
                  <span class="action__dropdown--value">Free</span>
                </div>
                <div class="action__dropdown--bottom-row">
                  <span class="action__dropdown--label">Shipping: </span>
                  <span class="action__dropdown--value">$10.00</span>
                </div>

                <div class="action__dropdown--bottom-row">
                  <span
                    class="action__dropdown--label action__dropdown--label-active"
                    >Total Price:
                  </span>
                  <span
                    class="action__dropdown--value action__dropdown--value-active"
                    >$425.99</span
                  >
                </div>
              </div>

              <div class="action__dropdown--checkout">
                <a class="action__dropdown--btn btn btn__primary"
                  >Check Out All</a
                >
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="action__user">
        <img
          src="./assets/img/avatar.jpg
      "
          alt=""
          class="action__user--img"
        />
      </div>
    </div>
  </div>
</div>
