@use "../abstract" as abstract;
.form {
  &:has(:invalid) &__submit--btn {
    opacity: 0.5;
    pointer-events: none;
  }
  &__group {
    margin-top: 30px;

    &--inline {
      display: flex;
      justify-content: space-between;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) .form__error {
    display: block;
  }

  &__text--input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--Secondary-Color-Secondary-3, #d2d1d6);
    height: 50px;
    padding: 12px;
  }

  &__input {
    flex: 1;
    height: 100%;
    background: transparent;

    &--img {
      width: 24px;
      height: 24px;
    }
  }

  &__checkbox {
    display: flex;
    gap: 10px;

    .checkbox__input {
      display: flex;
      width: 24px;
      height: 24px;
      padding: 2.75px;
      justify-content: center;
      align-items: center;
    }

    &--label {
      color: var(--Dark-3, #b9babe);

      /* Medium 15 */
      font-size: 1.5rem;
      font-weight: 500;
      line-height: calc(22 / 15); /* 146.667% */
    }
  }

  &__error {
    margin-top: 10px;
    font-size: 1.6rem;
    color: red;
    display: none;
  }

  &__label {
    color: var(--text-color);

    /* Medium 22 */
    font-size: 2.2rem;
    font-weight: 500;
    line-height: calc(32 / 22); /* 145.455% */

    &--minimum,
    &--maximum {
      display: block;
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__select-wrap {
    display: flex;
    border-radius: 6px;
    height: 45px;
    padding: 5px 0;
    border: 1px solid var(--Secondary-Color-Secondary-3, #d2d1d6);
  }

  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    color: var(--text-color);
    background-color: transparent;
    min-width: var(--width, 108px);
    @include abstract.breakpoint(xl) {
      flex: 1;
    }

    /* Medium 14 */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: calc(20 / 14); /* 142.857% */
  }

  &__tags {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @include abstract.breakpoint(sm) {
      gap: 9px;
    }
  }

  &__tag {
    color: #9e9da8;
    padding: 6px 12px;
    background-color: var(--tag-bg);
    border-radius: 6px;

    /* Medium 14 */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: calc(20 / 14); /* 142.857% */
  }
}
