@use "../abstract" as abstract;
.logo {
  display: flex;
  align-items: center;

  &__img {
    margin-right: 14px;
  }

  &__title {
    color: var(--text-color);

    /* Bold 22 */
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(32 / 22); /* 145.455% */
  }
}
