@use "../abstract" as abstract;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita";
  color: var(--text-color);
  background-color: var(--body-bg);
  height: 2000px;
}

.icon {
  filter: var(--icon-color);
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button,
input,
textarea,
select {
  font-family: "Gordita";
  color: inherit;
}

.container {
  @include abstract.breakpoint(sm) {
    padding: 0 20px !important;
  }
}
